.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .image {
        width: calc((1414 / 2000) * 100vh);
    }

    .content {
        position: relative;
        width: calc((1414 / 2000) * 100vh);
        height: 100%;

        background-image: url("../../public/images/login/login-background.png");
        background-size: auto 100vh;
        background-position: right;
        background-repeat: no-repeat;

        .login {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 32px;
            background: whitesmoke;
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                width: 300px;
                border-radius: 5px;
                background-color: lightgreen;
                padding: 20px 32px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &.mobile {
            width: 100vw;
            height: 100vh;
            background-position: center;

            .title {
                width: 200px;
                font-size: 14px;
                padding: 16px;
            }
        }
    }
}
