.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: #1f1f1f;
    color: #f1f1f1;

    .description {
        display: flex;

        .color {
            display: flex;
            color: pink;
            margin: 0 0 20px 12px;
        }
    }

    &.mobile {
        .title {
            font-size: 20px;
        }

        .description {
            display: block;
            margin: 32px auto;
            font-size: 16px;

            .color {
                display: block;
                width: fit-content;
                margin: 8px auto 12px;
            }
        }
    }
}
